.card{
    width: auto;
    text-align: center;
    align-items: baseline;
    padding:10% 25% 25%;
    background-color: antiquewhite;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
    background-color: bisque;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10% 10% 10% 10%;
}
.col img{
    width: 20%;
    padding: 0 20px;
}
.error{
    text-align: left;
    margin-left: 10px;
    display: none;
}